/** @format */

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Prompt:wght@500&family=Shantell+Sans&display=swap");

:root {
  --primary-color: #7e22ce;
}
header {
  background-color: var(--primary-color);
  color: aliceblue;
  font-family: "Kanit";
  padding: 10px;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  font-size: 1rem;
  text-align: center;
}
